{% extends "index.html" %}

{% block body %}
<p>Preparing an auction between <b>{{ auction.participants.count() }} participants</b> and <b>{{ auction.items.count() }} items</b></p>
<table class="table">
  <tr>
    <th>Participants</th><th>Items</th>
  </tr>
  {% for participant, item in zipped_particpants_items %}
  <tr><td>{{participant.name}}</td><td>{{item.name}}</td></tr>
  {% endfor %}

</table>

One last thing:
<form method='post' action='{{ url_for('setup.step3_process', auction_id=auction.id) }}' class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Auction Name:</label>
    <div class="controls">
      <input type="text" name="name" placeholder="The awesome auction!" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Each Person Bids:</label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on">$</span>
        <input type="text" name="total_bid" placeholder="1000" />
      </div>
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Start the Auction!</button>
  </div>
</form>
{% endblock %}
