{% extends "index.html" %}

{% block body %}
<script type="text/javascript">

  var addItemHandler = function() {
    var itemField = '<input type="text" name="items[]" /><br />';

    $("#items-list").append(itemField);
  };

  $(function() {
    addItemHandler();
    $("#btn-add-item").on('click', addItemHandler);
  });
</script>

Okay, added <b>{{ participants.count() }}</b> users. Now, what items are at stake.
Again, one per box.
<form method='post' action='{{ url_for('setup.step2_process', auction_id=auction.id) }}' class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Items:</label>
    <div class="controls">
      <div id="items-list">
        {% for item in items %}
        <input type="text" name="items[]" value="{{item.name}}"/><br />
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <a id="btn-add-item" class="btn">Add Item</a>
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Next Step &gt;</button>
  </div>
</form>
{% endblock %}
